#subNav{
background-color: gray;
}

ul.subNav {
  padding-left: 0px;
  background-color: #3D99CE;
  text-align: center;
}
ul.subNav > li {
  display: inline-block;
  padding: 10px 20px;
}
ul.subNav > li:hover {
  background-color: #2779BF;
}
ul.subNav > li > a {
  color: white;
  text-decoration: none;
}

